### 1) Write a program to print the maximum between two numbers. (one-line conditional statement)

In [4]:
a = 10
b = 13
max_num = a if a>b else b 
print(max_num)

13

### 2) Write a program to find the maximum between three numbers.

In [13]:
a = 10
b = 14
c = 10
max_num = a if (a>=b and a>=c) else(b if (b>a and b>=c) else c)
print(max_num)

14

### 3) Write a program to check whether a number is negative, or positive (one-line conditional statement)

In [16]:
a = 10
print('positive' if a>=0 else 'negative')

positive

### 4) Write a  program to check whether a number is even or odd  (one-line statement).

In [18]:
a = 11
print('even' if a%2==0 else 'odd')

odd

### 5) Write a  program to check whether a year is a leap year or not. (one-line conditional statement).

In [22]:
year=2024
print('leap year' if year%4==0 else 'not a leap year')

leap year

### 6) Write a  program to store the weekdays in a list and access the week day and print it by index.

In [29]:
weekdays = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
print([weekdays[day] for day in range(0,7)])
print([day for day in weekdays])

['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']

### 7) Write a  program to print all alphabets from a to z using while loop

In [36]:
i = ord('a')
while i<=ord('z'):
    print(chr(i))
    i+=1

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

### 8)Write a program to sotre numbers in the List and print its reverse

In [38]:
list1 = [10, 5, 3, 7, 9]
list1.reverse()
print(list1)

[9, 7, 3, 5, 10]

### 9) Write a program to print the multiplcation table of any number

In [41]:
num = int(input('Enter the number to print its multi. table: '))
for i in range(0,13):
    print(f"{i}*{num} = {i*num}")

Enter the number to print its multi. table: 9
0*9 = 0
1*9 = 9
2*9 = 18
3*9 = 27
4*9 = 36
5*9 = 45
6*9 = 54
7*9 = 63
8*9 = 72
9*9 = 81
10*9 = 90
11*9 = 99
12*9 = 108

### 10)Write a program to print all even numbers between 1 to 100.(using while loop)

In [47]:
i = 1
while i<=100:
    if i%2==0:
        print(i)
    i+=1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100