#### Multiply 10 with 5, and print the result.

In [3]:
print(10 *5)

50

### Divide 10 by 2, and print the result.

In [4]:
print(10 /2)

5.0

### Use the correct membership operator to check if "apple" is present in the fruits object.

In [5]:
fruits = ["apple", "banana"]

In [6]:
fruits = ["apple", "banana"]
if "apple" in fruits:
  print("Yes, apple is a fruit!")

Yes, apple is a fruit!

### Use the correct comparison operator to check if 5 is `not equal` to 10.

In [7]:
if 5 !=10:
  print("5 and 10 is not equal")

5 and 10 is not equal

### Use the correct logical operator to check if at least one of two statements is `True`.

In [8]:
if 5 == 10 or 4 == 4:
  print("At least one of the statements is true")

At least one of the statements is true

### Print the second item in the fruits list.

In [9]:
fruits = ["apple", "banana", "cherry"]

In [10]:
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

### Change the value from "apple" to "kiwi", in the fruits list.

In [11]:
fruits = ["apple", "banana", "cherry"]
fruits[0]= "kiwi"

### Use the append method to add "orange" to the fruits list.

In [12]:
fruits = ["apple", "banana", "cherry"]

In [13]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")

### Use the insert method to add "lemon" as the second item in the fruits list.

In [14]:
fruits = ["apple", "banana", "cherry"]

In [15]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1,"lemon")
print(fruits)

['apple', 'lemon', 'banana', 'cherry']

### Use the remove method to remove `"banana"` from the fruits list.

In [16]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")

### Use negative indexing to print the last item in the list.

In [17]:
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

cherry

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [18]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [19]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

### Use the correct syntax to print the number of items in the list.

In [20]:
fruits = ["apple", "banana", "cherry"]

In [21]:
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3

### Write a Python program to print all even numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence.

#### numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527
    ]

In [22]:
numbers = [
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527
]

for x in numbers:
    if x == 237:
        print(x)
        break
    elif x % 2 == 0:
        print(x)

386
462
418
344
236
566
978
328
162
758
918
237

### Write a Python program that will accept the base and height of a triangle and compute its area.

<img src="https://www.w3resource.com/w3r_images/python-area-triangle-basic-exercise-30.png" alt="Girl in a jacket" width="500" height="600">

In [23]:
b = int(input("Input the base : "))
h = int(input("Input the height : "))

area = 1/2*b* h

print("area = ", area)

Input the base : 1
Input the height : 2
area =  1.0

### Sort three integers without using conditional statements

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-69.png" alt="Girl in a jacket" width="500" height="600">

In [24]:
x = int(input("Input first number: "))
y = int(input("Input second number: "))
z = int(input("Input third number: "))

a1 = min(x, y, z)
a3 = max(x, y, z)
a2 = (x + y + z) - a1 - a3

print("Numbers in sorted order: ", a1, a2, a3)

Input first number: 1
Input second number: 3
Input third number: 5
Numbers in sorted order:  1 3 5

### Sort three integers :using conditional statements

In [25]:
a = float(input("Enter a: "))
b = float(input("Enter b: "))
c = float(input("Enter c: "))

if a > b:
    a,b = b,a
if a > c:
    a,c = c,a
if b > c:
    b,c = c,b

print (a, "<", b, "<", c)

Enter a: 1
Enter b: 2
Enter c: 3
1.0 < 2.0 < 3.0

#### Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

<img src="https://www.w3resource.com/w3r_images/python-basic-1-image-exercise-1.png" alt="Girl in a jacket" width="500" height="600">

In [26]:
z=[]
y=int(input("Enter len of list:\n"))
for i in range(y):
  x=float(input("Enter number: \t"))
  z.append(x)
if len(z) == len(set(z)):
    print("True")
else:
    print("False")

Enter len of list:
4
Enter number: 	1
Enter number: 	2
Enter number: 	1
Enter number: 	3
False

### Python program to find the sum of all items in a dictionary

#### Dictionary

In [27]:
dict1 = {'a': 100, 'b': 200, 'c': 300}
list(dict1.keys())

['a', 'b', 'c']

In [28]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.values())

[200, 300]

In [29]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.items())

[('a', 200), ('c', 300)]

```
Input : {‘a’: 100, ‘b’:200, ‘c’:300}
```
Output : 600
```
# Input : {‘x’: 25, ‘y’:18, ‘z’:45}

```
Output : 88

In [30]:
sum([0,1,2,3,4,5])
sum((0,1,2,3,4,5))
sum({0,1,2,3,4,5})
sum({5:5,10:11})

15

In [31]:
dict1 = {'a': 100, 'b': 200, 'c': 300}
list1=list(dict1.values())
print(list1)
res=sum(list1)
print(res)

[100, 200, 300]
600

### Filter the negative values from given dictionary

In [32]:
ini_dict = {'a':1, 'b':-2, 'c':-3, 'd':7, 'e':0}
result =[dict({(k,v)}) for k,v in ini_dict.items() if v>=0]

In [33]:
result

[{'a': 1}, {'d': 7}, {'e': 0}]

### Test if all Values are Same in Dictionary

### test_dict = {"Gfg": 8, "is": 5, "Best": 5}
### False

In [34]:
test_dict = {"Gfg": 8, "is": 5, "Best": 5}
if len(set(test_dict.values())) ==1:
  print("Are all values similar in dictionary. ")
else:
    print("Are not all values not similar in dictionary.")

Are not all values not similar in dictionary.

### Test if vlaue input  in dictionary value

# `any`

In [35]:
mylist = [False, True, False]
x = any(mylist)
print(x)

True

In [36]:
mydict = {0 : "Apple", 1 : "Orange"}
x = any(mydict)
print(x)

True

In [37]:
mydict = {0 : "Apple", 0 : True}
x = any(mydict)
print(x)

False

#### <font color='gold'>Note: When used on a dictionary, the any() function checks if any of the keys are true, not the values.</font>

In [38]:
test_dict = {'gfg': 1, 'is': 2, 'best': 3}
input_user = int(input("Enter the number: "))
result = any([True if i == input_user else False for i in test_dict.values()])
print(result)

Enter the number: 1
True

### Calculate the sum of all numbers from 0 to a given number

In [39]:
x=int(input("Enter a number :"))
sum_over_all=0
for i in range(x+1):
  sum_over_all+=i
print(sum_over_all)

Enter a number :3
6

In [40]:
x = int(input("Enter a number: "))
print(sum([i for i in range(x + 1)]))

Enter a number: 3
6

### Find the factorial of a given number using while loop

#### For example: calculate the factorial of 5



```
# 5! = 5 × 4 × 3 × 2 × 1 = 120

```

In [41]:
num = 6
factorial = 1
i = 1

if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    while i <= num:
        factorial *= i
        i += 1
    print("The factorial of", num, "is", factorial)

The factorial of 6 is 720

### Reverse a given integer number

In [42]:
num = '76542'
print(num[-1::-1])

24567

### Use a loop to display elements from a given list present at odd index positions

```
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected output:
20 40 60 80 100
```

In [43]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
# stat from index 1 with step 2( means 1, 3, 5, an so on)
for i in my_list[1::2]:
    print(i, end=" ")

20 40 60 80 100

### Calculate the cube of all numbers from 1 to a given number

In [44]:
x=int(input("Enter a number :"))
result=[i*i*i for i in range(x+1)]
print(result)

Enter a number :3
[0, 1, 8, 27]

### len of str in list
### ['apple', 'orange', 'cat']

In [45]:
l = ['apple', 'orange', 'cat']
print([ len(i) for i in l])

[5, 6, 3]

### program to count number of vowels using sets in given string

In [46]:
x=input("Enter a Name : \n")
vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
count=0
for i in x:
  if i in vowels:
    count+=1
print(count)

Enter a Name :
mohamed
3


### Write a Python program to add an item to a tuple.

In [47]:
itemTupple = ("item1", "item2")
itemlist = list(itemTupple)
itemlist.append("item3")
itemTupple = tuple(itemlist)
print(itemTupple)

('item1', 'item2', 'item3')


### Write a Python program to sum all the items in a list.

In [48]:
list1 = [5, 10 , 15]
listSum = sum(list1)
print(listSum)

30

### Write a Python program to multiply all the items in a list.

In [49]:
list1=[3,3,3]
x=1
for i in list1:
  x*=i
print(x)

27

### Write a Python program to get the smallest number from a list.

In [50]:
list1 = [3, 9, 16]
minVal = min(list1)
print(minVal)

3

### Write a Python program to get the largest number from a list.

In [51]:
list1 = [3, 9, 16]
maxVal = max(list1)
print(maxVal)

16

### Write a Python program to clone or copy a list

In [52]:
list1 = [1, 2 , 3]
list2 = list1.copy()
print(list2)

[1, 2, 3]

### Write a Python program to remove item(s) from a given set.

### s = set([0, 1, 3, 4, 5])

In [53]:
set1 = set([0, 1, 3, 4, 5])
set1.remove(0)
set1.remove(3)
print(set1)

{1, 4, 5}

### Write a Python program to find the maximum and minimum values in a set.

In [54]:
set1 =([0, 1, 3, 4, 5])
maxVal = max(set1)
minVal = min(set1)
print(maxVal,end=" ")
print(minVal)

5 0

### Write a Python program to convert a tuple to a dictionary.
### dict1 = {}
### tuple1 = ("name", "age", "city","city")

```
# enumerate()
```

#### a built-in function in python that allows you to keep track of the number of iterations (loops) in a loop. This enumerate object contains a count (from the start, which always defaults to 0) and a value obtained from iterating over the iterable object

In [57]:
dict1 = {}
set1 = {"age", "set", "set1","city"}
x=set(enumerate(set1))
print(x)

{(1, 'city'), (2, 'set'), (3, 'set1'), (0, 'age')}

### <font color='gold'> When I use set in enumerate not give me a right index why because this a set </font>

In [58]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [13]:
dict1 = {}
tuple1 = ("name", "age", "city","city")
for index, key in enumerate(tuple1):
  if index ==0:
        dict1.update([(key,"Ezz")])
  else:
    dict1.update([(key,index)])
print(dict1)

{'name': 'Ezz', 'age': 1, 'city': 3}

In [59]:
dict1 = {}
tuple1 = ("name", "age", "city","city")
for index, key in enumerate(tuple1):
    dict1.update([(key,index)])

print(dict1)

{'name': 0, 'age': 1, 'city': 3}

### Write a Python program to replace the last value of tuples in a list.

### Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

### Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [60]:
sample_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

output_list = [(x, y, 100) for x, y, z in sample_list ]

print(output_list)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]