#### Multiply 10 with 5, and print the result.

In [1]:
print(10*5)

50

### Divide 10 by 2, and print the result.

In [2]:
print(10/2)

5.0

### Use the correct membership operator to check if "apple" is present in the fruits object.

In [3]:
fruits = ['orange' , 'banana', 'apple']
print('apple' in fruits)

True

### Use the correct comparison operator to check if 5 is `not equal` to 10.

In [4]:
print(5!=10)

True

### Use the correct logical operator to check if at least one of two statements is `True`.

In [5]:
print(True or False)

True

### Print the second item in the fruits list.

In [6]:
print(fruits[1])

banana

### Change the value from "apple" to "kiwi", in the fruits list.

In [8]:
fruits[2] = 'kiwi'
print(fruits)

['orange', 'banana', 'kiwi']

### Use the append method to add "orange" to the fruits list.

In [10]:
fruits.append('orange')
fruits

['orange', 'banana', 'kiwi', 'orange', 'orange']

### Use the insert method to add "lemon" as the second item in the fruits list.

In [11]:
fruits.insert(1,'lemon')
fruits

['orange', 'lemon', 'banana', 'kiwi', 'orange', 'orange']

### Use the remove method to remove `"banana"` from the fruits list.

In [12]:
fruits.remove('banana')
fruits

['orange', 'lemon', 'kiwi', 'orange', 'orange']

### Use negative indexing to print the last item in the list.

In [13]:
print(fruits[-1])

orange

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [14]:
print(fruits[2:5])

['kiwi', 'orange', 'orange']

### Use the correct syntax to print the number of items in the list.

In [15]:
print(len(fruits))

5

### Write a Python program to print all even numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence.

In [16]:
numbers = [
386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
958,743, 527
]
for i in numbers:
    if i == 237:
        break
    if i%2==0:
        print(i)

386
462
418
344
236
566
978
328
162
758
918

#### numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527
    ]

### Write a Python program that will accept the base and height of a triangle and compute its area.

<img src="https://www.w3resource.com/w3r_images/python-area-triangle-basic-exercise-30.png" alt="Girl in a jacket" width="500" height="600">

In [17]:
def area (base , height):
    return 0.5 * base * height
print(area(5,4))

10.0

### Sort three integers without using conditional statements

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-69.png" alt="Girl in a jacket" width="500" height="600">

In [23]:
num1 = 2
num2 = 5
num3 = 3
max_num = max(num1,max(num2,num3))
min_num = min(num1,min(num2,num3))
middle = num1 + num2 + num3 - max_num - min_num
print(max_num,middle,min_num)

5 3 2

### Sort three integers :using conditional statements

In [24]:
if num1>num2 and num1>num3:
    max_num = num1
    if num2>num3:
        min_num = num3
        middle = num2
    else:
        min_num = num2
        middle = num3
elif num2>num1 and num2>num3:
    max_num = num2
    if num1>num3:
        min_num = num3
        middle = num1
    else:
        min_num = num1
        middle = num3
else:
    max_num = num3
    if num1>num2:
        min_num = num2
        middle = num1
    else:
        min_num = num1
        middle = num2
print(max_num,middle,min_num)

5 3 2

#### Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

In [26]:
def unique(*nums):
    u_set = set(nums)
    return len(u_set) == len(nums)

In [28]:
unique(2,4,5,5,7,9)

False

<img src="https://www.w3resource.com/w3r_images/python-basic-1-image-exercise-1.png" alt="Girl in a jacket" width="500" height="600">

#### Dictionary

In [ ]:
dict1 = {'a': 100, 'b': 200, 'c': 300}
list(dict1.keys())

['a', 'b', 'c']

In [ ]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.values())

[200, 300]

In [31]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.items())

[('a', 200), ('c', 300)]

```
Input : {‘a’: 100, ‘b’:200, ‘c’:300}
```
Output : 600
```
# Input : {‘x’: 25, ‘y’:18, ‘z’:45}

```
Output : 88

In [29]:
print(sum([0,1,2,3,4,5]))
print(sum((0,1,2,3,4,5)))
print(sum({0,1,2,3,4,5}))
print(sum({5:5,10:11}))

15
15
15
15

### Python program to find the sum of all values in a dictionary

In [32]:
print(sum(dict1.values()))

500

### Filter the negative values from given dictionary

In [44]:
dict1 = {'a':1 , 'b':-5 , 'c':1}
dict1 = {key:value for key,value in dict1.items() if value>0}
dict1

{'a': 1, 'c': 1}

### Test if all Values are Same in Dictionary

### test_dict = {"Gfg": 8, "is": 5, "Best": 5}
### False

In [47]:
test_dict = {"Gfg": 8, "is": 5, "Best": 5}
print(len(set(test_dict.values()))==1)

False

# `any`

In [52]:
mylist = [False, True, False]
x = any(mylist)
print(x)

True

In [50]:
mydict = {0 : "Apple", 1 : "Orange"}
x = any(mydict)
print(x)

True

In [54]:
mydict = {0 : 1, 0 : 2}
x = any(mydict)
print(x)

False

#### <font color='light-blue'>Note: When used on a dictionary, the any() function checks if any of the ''key'' are true, not the values.</font>

### Test if vlaue input  in dictionary value

In [56]:
inp = int(input())
print(inp in mydict.values())

4
False

### Calculate the sum of all numbers from 0 to a given number

In [59]:
num = int(input('Enter number: '))
sum = 0
for i in range(0,num):
    sum+=i
print(sum)

Enter number: 5
10

### Find the factorial of a given number using while loop

#### For example: calculate the factorial of 5



```
# 5! = 5 × 4 × 3 × 2 × 1 = 120

```

In [61]:
num = int(input('Enter number: '))
fact = 1
i =1
while i<=num:
    fact*=i
    i+=1
print(fact)

Enter number: 5
120

### Use a loop to display elements from a given list present at odd index positions

```
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected output:
20 40 60 80 100
```

In [62]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(0,len(my_list)):
    if i%2==1:
        print(my_list[i])

20
40
60
80
100

### Calculate the cube of all numbers from 1 to a given number

In [66]:
num = int(input('Enter number: '))
print([i*i*i for i in range(1,num+1)])

Enter number: 5
[1, 8, 27, 64, 125]

### len of str in list
### ['apple', 'orange', 'cat']

In [ ]:
l = ['apple', 'orange', 'cat']
print([ len(i) for i in l])

[5, 6, 3]

### program to count number of vowels using sets in given string

In [68]:
s = 'mennaaaaa'
v = {'a','e','i','o','u'}
total_vowels = 0
for i in v:
    total_vowels+=s.count(i)
total_vowels

6


### Write a Python program to add an item to a tuple.

In [76]:
t = (1,2,4,5)
t2 = t + (6,)
t2

(1, 2, 4, 5, 6)

### Write a Python program to multiply all the items in a list.

In [77]:
list1 = [1,5,7,3,4,5]
total = 1
for i in list1:
    total *=i
print(total)

2100

### Write a Python program to get the smallest number from a list.

In [78]:
min_num = 1000000
for i in list1:
    if i<min_num:
        min_num=i
print(min_num)

1

### Write a Python program to get the largest number from a list.

In [79]:
max_num = -1000000
for i in list1:
    if i>max_num:
        max_num=i
print(max_num)

7

### Write a Python program to clone or copy a list

In [80]:
list2 = list1
print(list2)

[1, 5, 7, 3, 4, 5]

### Write a Python program to remove item(s) from a given set.

### s = set([0, 1, 3, 4, 5])

In [81]:
s = set([0, 1, 3, 4, 5])
s.remove(0)
s

{1, 3, 4, 5}

### Write a Python program to find the maximum and minimum values in a set.

In [83]:
l = sorted(s)
print(l[0],l[-1])

1 5

### Write a Python program to convert a tuple to a dictionary.
### dict1 = {}
### tuple1 = ("name", "age", "city","city")

```
# enumerate()
```

In [89]:
dict1 = {}
tuple1 = ("name", "age", "city","city")
for k,v in enumerate(tuple1):
    dict1[k]=v
dict1

{0: 'name', 1: 'age', 2: 'city', 3: 'city'}

### Write a Python program to replace the last value of tuples in a list.

### Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

### Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [92]:
sample= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new = [(x, y, 100) for x, y, z in sample ]
new

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]