In [1]:
from pyspark.sql import SparkSession
import pandas as pd

In [2]:
spark = SparkSession.builder.appName('practice').getOrCreate()
spark

24/07/16 02:34:29 WARN Utils: Your hostname, mennas-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.3 instead (on interface en0)
24/07/16 02:34:29 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/16 02:34:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
train_df = spark.read.csv('train.csv', header=True, inferSchema=True)
train_df

DataFrame[PassengerId: int, Survived: int, Pclass: int, Name: string, Sex: string, Age: double, SibSp: int, Parch: int, Ticket: string, Fare: double, Cabin: string, Embarked: string]

In [4]:
train_df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|   13.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

#### Filter Operation

In [6]:
# to filter on a condition
train_df.filter('Age>25').show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|          239865|   26.0| NULL|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|          248698|   13.0|  D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|          113788|   35.5|   A6|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|          347077|31.3875| NULL|       S|
|         31|       0|     1|Uruchurtu, Don. M...|  male|40.0|    0|    0|        PC 17601|27.7208| NULL|       C|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male|66.0|    0|    0|      C.A. 24579|   10.5| NULL|       S|
|         35|       0|     1|Meyer, Mr. Edgar ...|  male|28.0|    1|    0|        PC 17604|82.1708| NULL|       C|
|         36|       0|     1|Holverson, Mr. Al...|  male|42.0|    1|    0|          113789|   52.0| NULL|       S|
|         41|       0|     3|Ahlin, Mrs. Johan...|female|40.0|    1|    0|            7546|  9.475| NULL|       S|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|           11668|   21.0| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [11]:
# after filter on specific condition you can choose specific columns to be shown
train_df.filter('Survived==1').select(['Name', 'Ticket']).show()

+--------------------+----------------+
|                Name|          Ticket|
+--------------------+----------------+
|Cumings, Mrs. Joh...|        PC 17599|
|Heikkinen, Miss. ...|STON/O2. 3101282|
|Futrelle, Mrs. Ja...|          113803|
|Johnson, Mrs. Osc...|          347742|
|Nasser, Mrs. Nich...|          237736|
|Sandstrom, Miss. ...|         PP 9549|
|Bonnell, Miss. El...|          113783|
|Hewlett, Mrs. (Ma...|          248706|
|Williams, Mr. Cha...|          244373|
|Masselmani, Mrs. ...|            2649|
|Beesley, Mr. Lawr...|          248698|
|"McGowan, Miss. A...|          330923|
|Sloper, Mr. Willi...|          113788|
|Asplund, Mrs. Car...|          347077|
|"O'Dwyer, Miss. E...|          330959|
|Spencer, Mrs. Wil...|        PC 17569|
|Glynn, Miss. Mary...|          335677|
|    Mamee, Mr. Hanna|            2677|
|Nicola-Yarred, Mi...|            2651|
|Laroche, Miss. Si...|   SC/Paris 2123|
+--------------------+----------------+
only showing top 20 rows

In [20]:
# to filter on multiple conditions
train_df.filter((train_df['Survived']==1) & (train_df['Sex']=='female')).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+--------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|    Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+--------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599| 71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|   7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|    53.1| C123|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742| 11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736| 30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|    16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|   26.55| C103|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|    16.0| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|   7.225| NULL|       C|
|         23|       1|     3|"McGowan, Miss. A...|female|15.0|    0|    0|          330923|  8.0292| NULL|       Q|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|          347077| 31.3875| NULL|       S|
|         29|       1|     3|"O'Dwyer, Miss. E...|female|NULL|    0|    0|          330959|  7.8792| NULL|       Q|
|         32|       1|     1|Spencer, Mrs. Wil...|female|NULL|    1|    0|        PC 17569|146.5208|  B78|       C|
|         33|       1|     3|Glynn, Miss. Mary...|female|NULL|    0|    0|          335677|    7.75| NULL|       Q|
|         40|       1|     3|Nicola-Yarred, Mi...|female|14.0|    1|    0|            2651| 11.2417| NULL|       C|
|         44|       1|     2|Laroche, Miss. Si...|female| 3.0|    1|    2|   SC/Paris 2123| 41.5792| NULL|       C|
|         45|       1|     3|Devaney, Miss. Ma...|female|19.0|    0|    0|          330958|  7.8792| NULL|       Q|
|         48|       1|     3|O'Driscoll, Miss....|female|NULL|    0|    0|           14311|    7.75| NULL|       Q|
|         53|       1|     1|Harper, Mrs. Henr...|female|49.0|    1|    0|        PC 17572| 76.7292|  D33|       C|
|         54|       1|     2|Faunthorpe, Mrs. ...|female|29.0|    1|    0|            2926|    26.0| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+--------+-----+--------+
only showing top 20 rows

#### GroupBy Operation

In [21]:
car_prices_df = spark.read.csv('CarPrices.csv', header=True, inferSchema=True)
car_prices_df

DataFrame[car_ID: int, symboling: int, CarName: string, fueltype: string, aspiration: string, doornumber: string, carbody: string, drivewheel: string, enginelocation: string, wheelbase: double, carlength: double, carwidth: double, carheight: double, curbweight: int, enginetype: string, cylindernumber: string, enginesize: int, fuelsystem: string, boreratio: double, stroke: double, compressionratio: double, horsepower: int, peakrpm: int, citympg: int, highwaympg: int, price: double]

In [22]:
car_prices_df.printSchema()

root
 |-- car_ID: integer (nullable = true)
 |-- symboling: integer (nullable = true)
 |-- CarName: string (nullable = true)
 |-- fueltype: string (nullable = true)
 |-- aspiration: string (nullable = true)
 |-- doornumber: string (nullable = true)
 |-- carbody: string (nullable = true)
 |-- drivewheel: string (nullable = true)
 |-- enginelocation: string (nullable = true)
 |-- wheelbase: double (nullable = true)
 |-- carlength: double (nullable = true)
 |-- carwidth: double (nullable = true)
 |-- carheight: double (nullable = true)
 |-- curbweight: integer (nullable = true)
 |-- enginetype: string (nullable = true)
 |-- cylindernumber: string (nullable = true)
 |-- enginesize: integer (nullable = true)
 |-- fuelsystem: string (nullable = true)
 |-- boreratio: double (nullable = true)
 |-- stroke: double (nullable = true)
 |-- compressionratio: double (nullable = true)
 |-- horsepower: integer (nullable = true)
 |-- peakrpm: integer (nullable = true)
 |-- citympg: integer (nullable = true)
 |-- highwaympg: integer (nullable = true)
 |-- price: double (nullable = true)

In [23]:
# I am going to select some columns to work with
car_prices_df = car_prices_df.select(['car_ID', 'CarName','fueltype', 'price' ])
car_prices_df.show()

+------+--------------------+--------+---------+
|car_ID|             CarName|fueltype|    price|
+------+--------------------+--------+---------+
|     1|  alfa-romero giulia|     gas|  13495.0|
|     2| alfa-romero stelvio|     gas|  16500.0|
|     3|alfa-romero Quadr...|     gas|  16500.0|
|     4|         audi 100 ls|     gas|  13950.0|
|     5|          audi 100ls|     gas|  17450.0|
|     6|            audi fox|     gas|  15250.0|
|     7|          audi 100ls|     gas|  17710.0|
|     8|           audi 5000|     gas|  18920.0|
|     9|           audi 4000|     gas|  23875.0|
|    10| audi 5000s (diesel)|     gas|17859.167|
|    11|            bmw 320i|     gas|  16430.0|
|    12|            bmw 320i|     gas|  16925.0|
|    13|              bmw x1|     gas|  20970.0|
|    14|              bmw x3|     gas|  21105.0|
|    15|              bmw z4|     gas|  24565.0|
|    16|              bmw x4|     gas|  30760.0|
|    17|              bmw x5|     gas|  41315.0|
|    18|              bmw x3|     gas|  36880.0|
|    19|    chevrolet impala|     gas|   5151.0|
|    20|chevrolet monte c...|     gas|   6295.0|
+------+--------------------+--------+---------+
only showing top 20 rows

In [24]:
# to show the sum of prices of each fuel type
car_prices_df.groupBy('fueltype').sum().show()

+--------+-----------+-----------+
|fueltype|sum(car_ID)| sum(price)|
+--------+-----------+-----------+
|     gas|      18603|2404962.667|
|  diesel|       2512|   316763.0|
+--------+-----------+-----------+

In [29]:
# to show the average price of each car name
car_prices_df.groupBy('CarName').mean().show()

+--------------------+-----------+------------------+
|             CarName|avg(car_ID)|        avg(price)|
+--------------------+-----------+------------------+
|         audi 100 ls|        4.0|           13950.0|
|       dodge rampage|       22.0|            5572.0|
|       mitsubishi g4|       82.0|10352.333333333334|
|        nissan teana|      105.0|           17199.0|
|         nissan note|       98.0|            7999.0|
|    maxda glc deluxe|       52.0|            6095.0|
|         volvo 244dl|      200.0|           18735.0|
|          isuzu MU-X|       44.0|            6785.0|
|              bmw x3|       16.0|           28992.5|
|       peugeot 604sl|      115.5|           17525.0|
|   honda accord cvcc|       34.0|            6529.0|
| honda civic 1500 gl|       37.0|            7295.0|
|toyota corona har...|      154.0|            6918.0|
|          mazda rx-4|       58.5|            8470.0|
|              bmw z4|       15.0|           24565.0|
|        renault 12tl|      131.0|            9295.0|
|          audi 100ls|        6.0|           17580.0|
|     porsche cayenne|      129.0|          32714.25|
| chevrolet vega 2300|       21.0|            6575.0|
|           audi 5000|        8.0|           18920.0|
+--------------------+-----------+------------------+
only showing top 20 rows

In [30]:
# to count how many cars in each fuel type
car_prices_df.groupBy('fueltype').count().show()

+--------+-----+
|fueltype|count|
+--------+-----+
|     gas|  185|
|  diesel|   20|
+--------+-----+

In [31]:
# to sum the all prices of all cars
car_prices_df.agg({'price':'sum'}).show()

+-----------+
| sum(price)|
+-----------+
|2721725.667|
+-----------+

In [32]:
car_prices_df.agg({'price':'max'}).show()

+----------+
|max(price)|
+----------+
|   45400.0|
+----------+

In [33]:
car_prices_df.groupBy('fueltype').max().show()

+--------+-----------+----------+
|fueltype|max(car_ID)|max(price)|
+--------+-----------+----------+
|     gas|        205|   45400.0|
|  diesel|        204|   31600.0|
+--------+-----------+----------+